@import "tailwindcss";

@theme {
    --font-oxanium: "Oxanium", sans-serif;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --color-mainBlack: #040314;
    --color-mainPurple: #7A09C1;
    --color-darkPurple: #3A045B;
    --color-unguGradien: #BD63D1;
    --color-biruGradien: #402DAE;
}

html, body {
  overflow-x: hidden; /* untuk paksa hilangkan scroll horizontal */
}

/* Page Tema */
.glow-desc-div {
    filter: drop-shadow(-13px -13px 20px rgba(95, 69, 134, 1));
    -webkit-filter: drop-shadow(-13px -13px 20px rgba(95, 69, 134, 1));
}
.logo-shadow-white {
    filter: drop-shadow(0 0px 10px rgba(255,255,255, 0.40));
    -webkit-filter: drop-shadow(0 0px 10px rgba(255,255,255, 0.40));
}
/* Page Tema */
.glow-purple {
    filter: drop-shadow(0px 0px 25px rgba(138, 92, 204, 0.6));
    -webkit-filter: drop-shadow(0px 0px 25px rgba(138, 92, 204, 0.6));
}
/* Page Dokumentasi */
.glow-purple {
    filter: drop-shadow(0px 0px 25px rgba(138, 92, 204, 0.6));
    -webkit-filter: drop-shadow(0px 0px 25px rgba(138, 92, 204, 0.6));
}
/* Page Dokumentasi */

.logo-shadow {
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.38));
    -webkit-filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.38));
}

.box-shadow-timeline {
    box-shadow : 3px 4px 15px 0 rgba(255,255,255, 0.38);
}
.box-shadow-card {
    box-shadow : 3px 4px 20px 0 rgba(255,255,255, 0.45);
}
.box-shadow-purple {
  box-shadow: 0 0 15px rgba(128, 0, 255, 0.4);
}

.shadow-text {
    text-shadow: 17px 15px 1px rgba(0,0,0, 0.50);
}
.shadow-text-2 {
  text-shadow: 15px 13px 1px rgba(0, 0, 0, 0.25);
}

.drop-shadow-text {
    filter: drop-shadow(17px 15px 0.5px rgba(0,0,0, 0.50));
}

.inset-box-shadow {
  box-shadow: inset -1px 0px 0 0 rgba(255, 255, 255, 0.2);
}

.navbar-fixed {
    backdrop-filter: blur(10px);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.shadow-green-glow {
    box-shadow: 0 0 200px 120px rgba(0, 212, 255, 0.5);
}
.shadow-green-glow-2 {
    box-shadow: 0 0 200px 90px rgba(0, 212, 255, 0.5);
}
.shadow-green-glow-mob {
    box-shadow: 0 0 140px 80px rgba(0, 212, 255, 0.5);
}
.shadow-green-glow-mob-2 {
    box-shadow: 0 0 110px 50px rgba(0, 212, 255, 0.5);
}

.shadow-purple-glow {
    box-shadow: 0 0 200px 150px rgba(122, 9, 193);
}
.shadow-purple-glow-2 {
    box-shadow: 0 0 200px 150px rgba(122, 9, 193, 0.60);
}
.shadow-purple-glow-mob {
    box-shadow: 0 0 200px 90px rgba(122, 9, 193);
}
.shadow-purple-glow-mob-2 {
    box-shadow: 0 0 120px 65px rgba(122, 9, 193);
}

form input[type="text"],
form input[type="number"] {
  filter: drop-shadow(5px 6px 1px rgba(255,255,255, 0.40));
  -webkit-filter: drop-shadow(5px 6px 1px rgba(255,255,255, 0.40));
}

.menu-link {
    position: relative;
    overflow: hidden;
}

.menu-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.05);
    transition: height 0.3s ease-in-out;
    z-index: 0;
}

.menu-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
    z-index: 1;
}

/* Efek aktif saat class active (hover state true) */
.menu-link.active::before {
    height: 100%;
}

.menu-link.active::after {
    width: 100%;
}

 #hero h1 {
    /* color: transparent;
    text-shadow: 8px 4px 3px rgba(255,255,255), 0 0 #d6d4d4, 
    0px 4px 0px #d6d4d4, 8px 0px 0px #d6d4d4, 17px 15px 1px rgba(0, 0, 0, 0.25); */
    text-shadow: 17px 15px 1px rgba(0, 0, 0, 0.25);
}

#about h1 {
    /* color: transparent;
    text-shadow: 2px 0px 3px rgba(255,255,255), 1px 0px #d6d4d4, 
    0px 0px 0px #d6d4d4, 3px 0px 0px #d6d4d4, 17px 15px 1px rgba(0, 0, 0, 0.25); */
    text-shadow: 17px 15px 1px rgba(0, 0, 0, 0.25);
}

#hero p {
    text-shadow: 10px 8px 1px rgba(0, 0, 0, 0.25);
}

.card {
    overflow: hidden;
    box-shadow: rgba(255,255,255, 0.2) 0px 7px 20px 2px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
}

.card .top-section {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
}

.card .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
}

.card .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

.card .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.card .top-section .icons .logo .top-section {
    height: 100%;
}

.card .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
}

/* Button Get Started */
.button {
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
    border-radius: var(--border_radius);
    padding: 1rem 2rem;
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
    transition: transform var(--transtion);
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    -ms-border-radius: var(--border_radius);
    -o-border-radius: var(--border_radius);
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsla(0, 0%, 0%, 0.1);
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsla(250 80% 65% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .button:active {
    transform: scale(1);
  }
  
  .button .dots_border {
    --size_border: calc(100% + 2px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
    border-radius: var(--border_radius);
    z-index: -10;
  }
  
  .button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
    width: 100%;
    height: 2rem;
    background-color: white;
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .button .sparkle {
    position: relative;
    z-index: 10;
    width: 1.75rem;
  }
  
  .button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
    transform-origin: center;
    color: hsl(0, 0%, 100%);
  }
  
  .button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }
  
  .button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .button .sparkle .path:nth-child(2) {
      --scale_path_2: 1.2;
  }
  .button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
    .button .text_button {
        position: relative;
        z-index: 10;
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1rem;
        font-weight: 600;
        color: transparent;
    }
/* Button Get Started */

/* Card Daftar Sekarang */
/* From Uiverse.io by eslam-hany */ 
.card-daftar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;

    overflow: hidden;
}

.card-daftar::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 25px;
    font-weight: bold;
    background-color: #7A09C1;
    transition: all 0.5s;
    top: 0;
    right: 0;
    border-radius: 0 65px 0 100%;
}

.card-daftar::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 25px;
    font-weight: bold;
    background-color: #00D4FF;
    transition: all 0.5s;
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 65px;
}

/* .card-daftar::before {
    top: 0;
    right: 0;
    border-radius: 0 65px 0 100%;
} */

/* .card-daftar::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 65px;
} */

.card-daftar:hover::before,
.card-daftar:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 65px;
    transition: all 0.5s;
}

.card-daftar:hover:after {
    /* content: "Daftar"; */
    background: linear-gradient(to bottom, #00D4FF, #7A09C1);
}

/* tombol DAFTAR */
.daftar-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    box-shadow : 3px 10px 5px rgba(0,0,0, 0.30);
    text-shadow: 5px 5px 5px rgba(0,0,0, 0.50);
    transition: all 0.5s;
}

.daftar-btn:hover {
    box-shadow : 0px 0px 20px 2px rgba(255,255,255, 0.45);
    text-shadow: 0px 0px 0px rgba(0,0,0, 0.50);
    transition: all 0.5s;
}

/* muncul saat hover */
.card-daftar:hover .daftar-btn {
    opacity: 1;
    pointer-events: auto;
}
/* Card Daftar Sekarang */

/* SLIDER DOKUMENTASI*/
.slider {
  height: 230px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  /* width: calc((320px + 30px) * 18); */
  width: calc((((352px * 3) + (208px * 3) + (278px * 3)) * 2) + (30px * 17) );
  /* width: max-content; */
  animation: scroll 40s linear infinite;
  gap: 30px;
}

.slide-track:hover {
  animation-play-state: paused;
  transition: all 0.8s;
}

.slide-track-2 {
    display: flex;
    /* width: calc((320px + 30px) * 18); */
    width: calc((((352px * 3) + (208px * 3) + (278px * 3)) * 2) + (30px * 17) );
    /* width: max-content; */
    animation: scroll-2 40s linear infinite;
    gap: 30px;
  }

@media (min-width: 768px) {
  .slider {
    height: 310px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .slide-track {
    display: flex;
    /* width: calc((320px + 30px) * 18); */
    width: calc((((462px * 3) + (278px * 3) + (348px * 3)) * 2) + (30px * 17) );
    /* width: max-content; */
    animation: scroll 40s linear infinite;
    gap: 30px;
  }
  .slide-track-2 {
    display: flex;
    /* width: calc((320px + 30px) * 18); */
    width: calc((((462px * 3) + (278px * 3) + (348px * 3)) * 2) + (30px * 17) );
    /* width: max-content; */
    animation: scroll-2 40s linear infinite;
    gap: 30px;
  }
}

.slide-track-2:hover {
  animation-play-state: paused;
  transition: all 0.8s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  } 
  100% {
    /* transform: translateX(calc(-1 * (320px + 30px) * 9)); jika ukuran foto sama semua*/
    transform: translateX(calc(-1 * (((462px * 3) + (278px * 3) + (348px * 3)) + (30px * 8) )));
    /* transform: translateX(-50%); */
  }
}

@keyframes scroll-2 {
  0% {
    transform: translateX(calc(-1 * (((462px * 3) + (278px * 3) + (348px * 3)) + (30px * 8) )));
    /* transform: translateX(-50%); */
  } 
  100% {
    transform: translateX(0);
  }
}

.slide {
  /* height: 270px; */
  /* width: 320px; */
  display: flex;
  align-items: center;
  /* padding: 15px; */
  perspective: 100px;

  justify-content: center;
  background-color: #e5e5e5;
  border-radius: 40px;
}

.slide.wide {
  width: 462px;
}
.slide.medium {
  width: 348px;
}
.slide.small {
  width: 278px;
}

.slide img {
  width: 100%;
  transition: transform 1%;
  transition: all 0.8s;

  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.slide img:hover {
  transform: translateZ(10px);
  transition: all 0.8s;
}

/* Gradient Shadows */
/* .slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(4, 3, 20, 1) 0%, rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 4%;
  z-index: 2;
}

.slider::before {
  left: -2;
  top: 0;
}

.slider::after {
  right:-2;
  top: 0;
  transform: rotateZ(180deg);
} */
/* Gradient Shadows */
/* SLIDER DOKUMENTASI */


@keyframes gearAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
}


@media only screen and (max-width: 1023px){
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}

	.nav-outer .mobile-nav-toggler{
		display: block;
		margin: 0;
		padding: 24px 0;
	}
	
	.main-header .header-upper .nav-outer:before{
		display:none;	
	}

	.main-header .dropdown > a > i{
		display: none;
	}
	
	.main-header .nav-outer{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: 10px;
		width:auto;
		float:none;	
	}
	
	.main-header .nav-outer .logo-outer{
		position:relative;
		left:0;
		top: 8px;
		width:auto;
		height:auto;
		margin:0;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);	
	}

	.nav-outer .mobile-nav-toggler{
		position: absolute;
		right: 10px;
		top: 60%;
		transform: translateY(-50%);
		line-height: 50px;
		display: block;
		margin: 0;
		padding: 24px 0;
	}

  .hero-title h1 {
    font-size: 6rem;
  }
  .hero-title p {
    font-size: 2rem;
  }

  .form input[type="text"],
  .form input[type="number"] {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .label,
  .label-2 {
    font-size: 1.2em;
  }

  .custom-file-upload {
    font-size: 1.5rem;
    max-width: 250px;
    min-width: 250px;
  }

  .custom-file-upload i {
    font-size: 2rem;
  }

  .button-group {
    flex-direction: column;
    gap: 1rem;
  }

  .elipse-1,
  .elipse-2,
  .elipse-3,
  .elipse-4,
  .elipse-5,
  .elipse-6,
  .elipse-7 {
    width: 300px;
    height: auto;
  }

	/* =============== section Footer ================ */
      .footer-text{
        display: flex;
        position: relative;
        gap: 60px;
        padding: 20px 20px 0 20px;
      }
      .logo-section{
        margin-left: 0px;
      }
      .section-3{
        margin-top: -20px; 
      }
}

@media (max-width: 768px) {
    .hero-section {
      height: 500px;
      padding-top: 50px;
    }
    .hero-title h1 {
      font-size: 4rem;
    }
    
    .hero-title p {
      letter-spacing: -1px;
      font-size: 1.5rem;
    }
    .section-ke2 {
      background-position-y: -100px;
    }
    
    .radio-buttons {
      flex-direction: column;
      gap: 30px;
    }

    .form,
    .form-2 {
      padding: 0 15px;
    }

    .form input[type="text"],
    .form input[type="number"] {
      font-size: 1rem;
      padding: 0.8rem;
    }
    
    .label,
    .label-2 {
      max-width: 300px;
      font-size: 1rem;
    }
    
    .custom-file-upload {
      font-size: 1.2rem;
      padding: 1rem;
      max-width: 220px;
    }
    
    .custom-file-upload i {
      font-size: 1.5rem;
    }


    .elipse-1,
    .elipse-2,
    .elipse-4,
    .elipse-5,
    .elipse-6,
    .elipse-7 {
      width: 200px;
      height: auto;
    }

    .section-ke2 {
      height: 100%;
      padding: 4rem 0!important;
    }
    .section-ke3 {
      height: 100%;
      padding: 2rem 0!important;
    }
    .form {
      margin: 20px;
    }
    .elipse-3{
      display: none;
    }

    .form {
      max-width: 340px;
    }
    /* #Nama, #Anggota, #TimLead, #NoTelepon, #Institusi, #Angkatan, #Instansi {
      width: 90%;
    } */
    
    .section-ke4 {
      height: 100%;
      padding: 0 1rem 2rem !important;
    }
    .section-ke5 {
      height: 100%;
      margin: 0;
      padding: 0 1rem 0 !important;
    }
    .section-ke5 .payment-info{
      font-size: 1em;
    }
    .button-group {
      margin: 2rem 0 4rem;
      justify-content: center;
      align-items: center;
    }   
    .button-group .submit,
    .button-group .btn-kembali {
      padding: 0.8rem 2rem;
      font-size: 1.2rem;
      min-width: 300px;
    }
    .elipse-7{
      display: none;
    }

    .hero-section-thanks{
      padding: auto 0.5rem;
      height: 90vh;
    }
    .hero-section-thanks .hero-title h1{
      font-size: 3rem;
    }
    .hero-section-thanks .hero-title p{
      font-size: 1.5rem;
    }
    .thanks-section{
      padding: 0 0.5rem;
      height: 50vh;
    }
    .thanks-title h2{
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    .thanks-title p{
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    .thanks-title span {
      font-size: 2.5xrem;
    }

    /* =============== section Footer ================ */
    .footer-text{
      display: flex;
      position: relative;
      gap: 70px;
      padding: 20px 0 0 20px;
    }
    .logo-section{
      margin-left: 0px;
    }
    .section-3{
      margin-top: -40px; 
    }
    .elipse1 {
      position: absolute;
      width: 229px;
      height: 229px;
      top: -10%;
      right: 0;
    }
    .elipse2 {
      position: absolute;
      width: 201px;
      height: 201px;
      bottom: 9%;
      left: 0;
    }
  }
      
  @media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}
  

  @media only screen and (max-width: 599px){
	.main-header .header-top .top-left{
		display:none;	
	}
	
	.main-header .header-top .top-right{
		width:100%;
		text-align:center	
	}
}
/* RESPONSIVE */

/* STYLECSS */
::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	/* z-index: 9; */
	overflow: hidden;
}

.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

/* Posisi navbar kanan dan kiri */

.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

/* Preloader */

.preloader{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:rgba(0,0,0,0); 
} 

.preloader .icon{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:1; 
	background-color:rgba(0,0,0,0); 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(/icons/gear-full-9.svg);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	animation: 2s gearAnimation linear infinite;
} 

.preloader .other-icon{ 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:2; 
	background-color:rgba(0,0,0,0); 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(/icons/rebuild-tanpa-gear.svg);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-left: 8px;
} 

.page-loaded .preloader .icon,
.page-loaded .preloader .other-icon{
	opacity:0; 
}

.preloader:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#ffffff;
	z-index:0; 
	-webkit-transform:translateX(0%);
	-ms-transform:translateX(0%);
	transform:translateX(0%);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.page-loaded .preloader:before{
	-webkit-transform:translateX(-101%);
	-ms-transform:translateX(-101%);
	transform:translateX(-101%);
}

.preloader:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#252742;
	z-index:2; 
	-webkit-transform:translateX(101%);
	-ms-transform:translateX(101%);
	transform:translateX(101%);
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}

.page-loaded .preloader:after{
	-webkit-transform:translateX(-101%);
	-ms-transform:translateX(-101%);
	transform:translateX(-101%);
}

/* Main Header */

.main-header{
	position: fixed;
	display: block;
	width: 100%;
	z-index: 99999;
	background-color:#252742;
}

/*=== Header Upper ===*/
.header-upper{
	position: relative;
	top: 0;
	background-color:#252742;
	height: 87px;
	left: 0;
    right: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Shadow di bawah header */
    transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.header-upper.sticky {
    top: 0;  /* Header akan berada di atas */
}

.main-header .nav-outer .logo-outer{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 12px;
	left: 50%;
	z-index:2;
	transform: translateX(-50%);
	margin-top: 1rem;
}

.main-header .nav-outer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	position: sticky;
	float: right;
	width:100%;
	z-index:1;
}

.main-header .nav-outer .logo-header{
	display: inline-block;
	max-width: 71px;
	position: relative;
}

.main-header .nav-outer .logo-header img{
	position: relative;
	display: inline-block;
	width: 71px;
	height: 71px;
}

.main-header .nav-outer .logo-outer h1{
	margin: 0;
    color: white;
    font-size: 28px;
    font-family: "Figtree";
    font-weight: 600;
}

/* Main Menu */

.main-menu{
	position:relative;
	float:left;
	width:100%;
}

.main-menu .navbar-collapse{
	padding:0px;
	display:block !important;
}

.main-menu .navigation{
	position:relative;
	margin:0px;
}

.main-menu .navigation > li{
	position:relative;
	float:left;
	z-index:2;
	padding:25px 0px;
	margin-right: 65px;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li:last-child{
	margin-right:0px;
}

.main-menu .navigation > li > a{
	font-family: "Figtree";
	position:relative;
	display:block;
	text-align:center;
	font-size:18px;
	line-height:28px;
	font-weight:500;
	opacity:1;
	color:white;
	padding: 0px;
	z-index:1;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a{
	color: #ffffff;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:0px;
	top:100%;
	width:230px;
	z-index:100;
	display:none;
	opacity: 0;
    visibility: hidden;
	padding: 0px 0px;
	background-color: #ffffff;
	border-top: 2px solid #1C1E32;
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	border-radius: 8px;
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	width:0%;
	height:100%;
	display:block;
	background:#252742;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover:before{
	width:100%;
}

.main-menu .navigation li a {
    text-decoration: none;
}

.main-menu .navigation > li > ul > li > a {
	position:relative;
	display:block;
	padding:12px 20px;
	line-height:24px;
	font-weight:500;
	font-size:15px;
	font-family: "Figtree";
	text-decoration: none;
	text-transform:capitalize;
	color:#252525;
	text-align: left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a{
	color:#ffffff;
}

.arrow {
    font-size: 10px;
    margin-left: 6px;
    transition: transform 0.3s ease;
	opacity: 0.5;
}

.main-menu .dropdown:hover .arrow {
    transform: rotate(180deg); /* Rotates arrow on hover */
	opacity: 1;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: "Figtree";
	content: "\f105";
	position:absolute;
	right:20px;
	top:12px;
	display:block;
	line-height:24px;
	font-size:16px;
	font-weight:800;
	text-align:center;
	z-index:5;	
}

.main-menu .navigation > li > ul > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > ul > li:hover:before{
	width:100%;	
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 20px;
	line-height:24px;
	font-weight:500;
	font-size:15px;
	font-family: "Figtree";
	text-transform:capitalize;
	color:#252525;
	text-align: left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:#ffffff;
}

.main-menu .navigation .dropdown {
    position: relative;
    display: inline-block;
}

.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
    transform: translateY(0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	text-align:center;
	font-size:16px;
	line-height:26px;
	color:#ffffff;
	cursor:pointer;
	z-index:5;
	display:none;
}

.dropdown-toggle::after{
	display: none;
}

/* Mobile Menu */

.nav-outer .mobile-nav-toggler{
	position: relative;
	float: right;
	font-size: 40px;
	line-height: 50px;
	cursor: pointer;
	color: white;
	display: none;
}

.mobile-menu{
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	padding-right:30px;
	max-width:100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 999999;
}

.mobile-menu .navbar-collapse{
	display:block !important;	
}

.mobile-menu .nav-logo{
	position:relative;
	padding:30px 25px;
	text-align:left;	
}

.mobile-menu-visible{
	overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
	opacity: 1;
	visibility: visible;
}

.mobile-menu .menu-backdrop{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #252742;
	-webkit-transform: translateX(101%);
	-ms-transform: translateX(101%);
	transform: translateX(101%);
	transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
}

.mobile-menu-visible .mobile-menu .menu-backdrop{
	opacity: 0.70;
	visibility: visible;
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.mobile-menu .menu-box{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	background: #252742;
	padding: 0px 0px;
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	border-radius: 0px;
	-webkit-transform: translateX(101%);
	-ms-transform: translateX(101%);
	transform: translateX(101%);
}

.mobile-menu-visible .mobile-menu .menu-box{
	opacity: 1;
	visibility: visible;
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.mobile-menu .close-btn{
	position: absolute;
	right: 10px;
	top: 10px;
	line-height: 30px;
	width: 24px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
	z-index: 10;
	-webkit-transition:all 0.9s ease;
	-moz-transition:all 0.9s ease;
	-ms-transition:all 0.9s ease;
	-o-transition:all 0.9s ease;
	transition:all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn{
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

.mobile-menu .close-btn:hover{
	color: black;
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	filter: drop-shadow(0px 0px 1px white);
}

.mobile-menu .navigation{
	position: relative;
	display: block;
	width: 100%;
	float: none;
}

.mobile-menu .navigation li{
	position: relative;
	display: block;
	border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation:last-child{
	border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > ul > li:first-child{
	border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > a{
	position: relative;
	display: block;
	line-height: 24px;
	padding: 10px 25px;
	font-size: 15px;
	font-weight: 500;
	font-family: "Figtree";
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
}

.mobile-menu .navigation li ul li > a{
	font-size: 16px;
	font-family: "Figtree";
	margin-left: 20px;
	text-transform: capitalize;
}

.mobile-menu .navigation li.current > a,
.mobile-menu .navigation li > a:hover{
	color:white;	
}

.mobile-menu .navigation li.current > a:before{
	height:100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
	position:absolute;
	right:6px;
	top:6px;
	width:32px;
	height:32px;
	text-align:center;
	font-size:16px;
	line-height:32px;
	color:#ffffff;
	background:rgba(255,255,255,0.10);
	cursor:pointer;
	border-radius:2px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	z-index:5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
	background:#7A25AE;	
	-webkit-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);	
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul{
	display: none;
}

.mobile-menu .social-links{
	position:relative;
	text-align:center;
	padding:30px 25px;
}

.mobile-menu .social-links li{
	position:relative;
	display:inline-block;
	margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
	position:relative;
	line-height:32px;
	font-size:16px;
	color:#ffffff;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
	padding: 10px;
	font-size: 20px;
}

.mobile-menu .social-links li a:hover{
	color: #7A25AE;	
}

/* =============== Hero section ================ */
.hero-section {
    position: relative;
    background: url("/bg/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 115vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    color: white;
}

.hero-section .hero-title {
    position: relative;
    z-index: 1;
    font-family: "Oxanium";
    letter-spacing: -3px;
}
.hero-title h1 {
    font-weight: 600;
    font-size: 9.375em;
    margin: 0;
    filter: drop-shadow(15px 15px 1px rgba(44, 44, 44, 0.3));
}
.hero-title p {
    font-size: 3.125em;
    margin: 0;
    filter: drop-shadow(15px 10px 1px rgba(44, 44, 44, 0.3));
}
.bintang-besar {
    position: absolute;
    width: 490px;
    height: 288px;
    left: 10%;
    top: 10%;
}
.bintang-kecil {
    position: absolute;
    width: 212px;
    height: 198px;
    left: 5%;
}

/* =============== Section-2 ================ */
.section-ke2 {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 130vh;
    padding: 10px 0;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.section-ke2 h1 {
	font-family: "Oxanium";
  font-size: 4.6875rem;
  font-weight: 500;
  letter-spacing: -3px;
  margin: 0 0 80px;
  filter: drop-shadow(6px 5px 1px rgba(44, 44, 44, 0.3));
}
.section-ke2 .radio-buttons {
	display: flex;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
	z-index: 1;
}

.radio-card {
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box; 
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.9);
}

.span-1 {
	margin-top: 30px;
}

/* Sembunyikan input radio asli */
.radio-card input[type="radio"] {
	display: none;
}

.radio-card input[type="radio"]:checked + img + span {
	color: #007BFF;
  font-weight: 700;
}

.radio-card:hover {
	border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0,123,255,0.5);
}
.elipse-1 {
	position: absolute;
    width: 429px;
    height: 629px;
    top: 35%;
    right: 0;
}
.elipse-2 {
	position: absolute;
    width: 401px;
    height: 401px;
    bottom: 7%;
    left: 0;
}


/* =============== section-ke3 ================ */
.section-ke3 {
	position: relative;
    background: #040313;
    display: flex;
    flex-direction: column;
    height: 150vh;
    padding: 10px 0;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Oxanium";
	padding-top: 10rem;
}
.section-ke3 h1 {
	font-size: 4.6875rem;
    font-weight: 500;
    letter-spacing: -3px;
    margin-top: 1rem;
    filter: drop-shadow(6px 5px 1px rgba(44, 44, 44, 0.3));
}
.form {
	--bg-light: #efefef;
	--bg-dark: #707070;
	--clr: #ffffff;
	--clr-alpha: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
	max-width: 1000px;
	z-index: 1;
	margin-bottom: 10rem;
}

.form .input-span {
	width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="text"],
.form input[type="number"] {
	/* border-radius: 2rem; */
    padding: 1.5rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
	font-size: 1.5rem;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus {
	outline: 2px solid var(--clr);
}

.label {
	align-self: flex-start;
	color: var(--clr);
	font-weight: 400;
	font-size: 1.5em;
}
.elipse-3 {
	position: absolute;
    width: 429px;
    height: 629px;
    top: -30%;
    right: 0;
}
.elipse-4 {
	position: absolute;
    width: 429px;
    height: 629px;
    top: 10%;
    left: 0;
	z-index: 0;
}

/* =============== section-ke4 ================ */
.section-ke4 {
	position: relative;
	background: #040313;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 20rem 0 5rem;
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'Oxanium', sans-serif;
}

.form-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	width: 100%;
	/* max-width: 800px; */
	margin-top: 3rem;
	z-index: 1;
}

.input-span-2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.label-2 {
	color: white;
	font-size: 2rem;
	text-align: center;
	font-weight: 400;
}

/* Sembunyikan input file asli */
.form-2 input[type="file"] {
	display: none;
}
/* Tombol upload custom */
.upload-wrapper {
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}
.custom-file-upload {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	padding: 1.2rem 0.5rem;
	min-width: 500px;
	max-width: 500px;
	border-radius: 2rem;
	background-color: white;
	outline: 2px solid #707070;
	color: black;
	font-size: 2rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
}

.custom-file-upload i {
	font-size: 2.5rem;
}

.custom-file-upload:hover {
	outline: 2px solid white;
	background-color: #707070;
	color: #efefef;
}
.upload-success {
	margin-left: 1rem;
	font-size: 1.2rem;
	color: green;
	font-weight: 600;
}

.change-file-btn {
	padding: 0.6rem 1.2rem;
	font-size: 1rem;
	border-radius: 1.5rem;
	border: none;
	background-color: #707070;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.change-file-btn:hover {
	background-color: #505050;
}

.elipse-5 {
	position: absolute;
    width: 429px;
    height: 629px;
    top: 0;
    right: 0;
}
.elipse-6 {
	position: absolute;
    width: 401px;
    height: 401px;
    bottom: 3%;
    left: 0;
}


/* =============== section-ke5 ================ */
.section-ke5 {
	position: relative;
	background: #040313;
	display: flex;
	flex-direction: column;
	height: 150vh;
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: 'Oxanium', sans-serif;
  padding: 50rem 0;
}
.section-ke5 .payment-info{
	margin-top: 50px;
	font-weight: 400;
	font-size: 1.6em;
	text-align: center;
	align-items: normal;
}

.section-ke5 .radio-buttons {
	display: flex;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.radio-card {
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box; 
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.9);
}

.radio-card img {
    object-fit: contain;
    background-color: rgb(0, 0, 0);
}

/* Sembunyikan input radio asli */
.radio-card input[type="radio"] {
	display: none;
}

.radio-card input[type="radio"]:checked + img + span {
	color: #007BFF;
    font-weight: 700;
}

.radio-card:hover {
	border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0,123,255,0.5);
}
.button-group {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 2rem 0 9rem;
	width: 100%;
}
/* Tombol Kirim*/
.form-2 .submit {
	width: auto;
	padding: 1rem 0.75rem;
	border: none;
	border-radius: 3rem;
	font-size: 1.5rem;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	background: linear-gradient(135deg,#a64bff, #4b0082);
	color: #ffffff;
	box-shadow: 0 0 15px rgba(128, 0, 255, 0.4);
}

.form-2 .submit:hover {
	outline: 2px solid #ffffff;
	color: #ffffff;
}

.btn-kembali{
	width: auto;
	padding: 1rem 0.75rem;
	border: none;
	border-radius: 3rem;
	background-color: #ffffff;
	color: #000000;
	font-size: 1.5rem;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.btn-kembali:hover {
	background-color: #707070;
	color: #efefef;
	outline: 2px solid white;
}
.button-group .submit,
.button-group .btn-kembali {
  padding: 1rem 5rem;
  min-width: 140px;
}
.elipse-7 {
	position: absolute;
    width: 401px;
    height: 401px;
    bottom: 3%;
    right: 0;
	transform: scaleX(-1);
}

/* =============== CSS THANKS ================ */
.hero-section-thanks {
    position: relative;
    background: url("/bg/bg-thanks.png");
	background-size: cover;
	background-position: center -30%;
	background-repeat: no-repeat;
    height: 130vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}
.hero-section-thanks .hero-title {
	position: relative;
    z-index: 1;
    font-family: "Oxanium";
    letter-spacing: -1px;
	max-width: 1100px;
	color: #F5E4FF;
}
.hero-title h1 {
    font-weight: 600;
	line-height: 1;
    font-size: 7.5em;
    margin: 0;
    filter: drop-shadow(15px 15px 1px rgba(44, 44, 44, 0.3));
}
.hero-title p {
    font-size: 2.5em;
	margin-top: 2rem;
    filter: drop-shadow(15px 10px 1px rgba(44, 44, 44, 0.3));
}

.learn-more {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
 margin-top: 2rem;
 width: 12rem;
 height: auto;
}

.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #7A09C1;
 border-radius: 1.625rem;
}

.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #ffffff;
}

.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #ffffff;
 border-right: 0.125rem solid #ffffff;
 transform: rotate(45deg);
}

.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #ffffff;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
 font-family: "Oxanium";
}

.learn-more:hover .circle {
 width: 100%;
}

.learn-more:hover .circle .icon.arrow {
 background: #ffffff;
 transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
 color: #ffffff;
}



/* SECTION THANKS */
.thanks-section {
	position: relative;
	background: #040313;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 70px;
}
.thanks-section .thanks-title {
	position: relative;
	z-index: 1;
	font-family: "Oxanium";
	max-width: 900px;
	color: #F5E4FF;
}
.thanks-title h2 {
	font-weight: 600;
	line-height: 1;
	font-size: 4.6875rem;
	margin: 0;
	filter: drop-shadow(15px 15px 1px rgba(44, 44, 44, 0.3));
}
.thanks-title span {
	background: linear-gradient(90deg, #402DAE, #BD63D1);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.thanks-title p {
	font-size: 1.875rem;
	margin-top: 2rem;
	filter: drop-shadow(15px 10px 1px rgba(44, 44, 44, 0.3));
}
.btn {
 width: 6.5em;
 height: 2.3em;
 margin: 0.5em;
 background: #7A09C1;
 color: rgb(255, 255, 255);
 border: none;
 border-radius: 0.625em;
 font-family: "Oxanium";
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.btn:hover {
	color: #000000;
}

.btn:after {
	content: "";
	background: #ffffff;
	position: absolute;
	z-index: -1;
	left: -20%;
	right: -20%;
	top: 0;
	bottom: 0;
	transform: skewX(-45deg) scale(0, 1);
	transition: all 0.5s;
}

.btn:hover:after {
	transform: skewX(-45deg) scale(1, 1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-1 {
	width: 6.5em;
	height: 2.3em;
	margin: 0.5em;
	background: #FFFFFF;
	color: #000000;
	border: none;
	border-radius: 0.625em;
	font-size: 20px;
	font-family: "Oxanium";
	font-weight: bold;
	cursor: pointer;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.btn-1:hover {
	color: #ffffff;
}

.btn-1:after {
	content: "";
	background: #7A09C1;
	position: absolute;
	z-index: -1;
	left: -20%;
	right: -20%;
	top: 0;
	bottom: 0;
	transform: skewX(-45deg) scale(0, 1);
	transition: all 0.5s;
}

.btn-1:hover:after {
	transform: skewX(-45deg) scale(1, 1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.elipse1 {
	position: absolute;
    width: 429px;
    height: 629px;
    top: -10%;
    right: 0;
}
.elipse2 {
	position: absolute;
    width: 401px;
    height: 401px;
    bottom: 7%;
    left: 0;
}

.curve {
    z-index: 50;
}

.curve svg,
.curve .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: -300px;
}

.curve .background {
    background-color: black;
    transition: opacity 0s linear 0.1s;
}

.curve .route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 46px;
    z-index: 3;
    transform: translateX(-50%);
    text-align: center;
}
